<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Benepicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E86E8751DD47DDF00A4A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E86E88C1DD47DDF00A4A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E86E8971DD47DDF00A4A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
